@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@font-face {
  font-family: 'js30';
  src: url("fonts/againts.otf") format("opentype"); }

@font-face {
  font-family: 'fcc';
  src: url("fonts/saxmono.ttf") format("truetype"); }

* {
  box-sizing: border-box; }

#contain {
  width: 100%;
  height: 100vh;
  color: black;
  font-family: 'Open Sans',sans-serif; }

.top {
  height: 10vh;
  width: 100%;
  background: #dde;
  position: relative;
  display: flex;
  justify-content: flex-end; }

.top__nav {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.menu {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 12vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  font-size: 1.2em;
  background: #223;
  padding: 0;
  box-shadow: 4px 0 5px rgba(0, 0, 0, 0.4); }
  @media screen and (min-width: 776px) {
    .menu {
      padding: 20px;
      padding-top: 0; } }

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px; }

.menu__items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100%; }
  @media screen and (min-width: 776px) {
    .menu__items {
      height: 35vh;
      width: 100%;
      display: flex;
      margin-top: 30vh; } }

.menu__text {
  height: 100px;
  width: 100%;
  font-size: 0.4em;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  transform: rotate(90deg); }
  @media screen and (min-width: 776px) {
    .menu__text {
      font-size: 1em;
      transform: rotate(0deg); } }

.fcc--font {
  font-family: 'fcc', sans-serif; }

.js30--font {
  font-family: 'js30', sans-serif;
  font-size: 1.2em; }

.content__contain {
  position: absolute;
  top: 10vh;
  left: 12vw;
  padding: 25px;
  height: 90vh;
  width: 88vw;
  display: flex;
  flex-direction: column;
  overflow: hidden; }

.areas {
  width: 100%;
  height: auto; }

.area__contain {
  width: 100%;
  height: 22.25vh;
  border: 1px solid #dde;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all .5s ease-in-out; }
  .area__contain:hover {
    border: 1px solid #aab; }
  .area__contain.open {
    height: 88vh; }

.hide {
  display: none; }
  .hide.unhide {
    display: flex;
    justify-content: center; }

.title__contain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.title {
  font-size: 1.2em;
  font-weight: bold; }

.subtitle {
  font-size: 0.8em;
  margin-top: 5px; }

.pen {
  width: 450px;
  height: 450px; }
