@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@font-face {
  font-family: 'js30';
  src: url('fonts/againts.otf') format('opentype');
}

@font-face {
  font-family: 'fcc';
  src: url('fonts/saxmono.ttf') format('truetype');
}

* {
  box-sizing: border-box;
}

$road: #263039;
$green: #579a57;
$yellow: #f3efa6;
$white: #eee;

#contain {
  width: 100%;
  height: 100vh;
  color: $white;
  font-family: 'Open Sans', sans-serif;
}

.top {
  height: 8vh;
  width: 100%;
  background: $road;
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 2;
}

.top__nav {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 0.7em;

  a {
    text-decoration: none;
    color: $white;
  }

  @media screen and (min-width: 768px) {
    font-size: 1em;
  }
}

.content__contain {
  width: 100%;
  height: 92vh;
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;

  @media screen and (min-width: 768px) {
    position: relative;
    flex-direction: row;
  }
}

.bg {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 92vh;
  background: url(../images/2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;

  @media screen and (min-width: 768px) {
    width: 100vw;
  }
}

.dummy {
  width: 30px;
  height: 92vh;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.areas {
  position: absolute;
  top: 8vh;
  left: 0;
  width: 14vw;
  height: auto;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    flex-direction: row-reverse;
    justify-content: flex-end;
    position: relative;
    top: 0;
    height: 92vh;
  }
}

.area__contain {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    right: 0px;
    width: 80vw;
    height: 92vh;
    transition: all 0.5s ease-in-out;

    &.open {
      transform: translateX(-80vw);
    }
  }
}

.title__contain {
  position: relative;
  width: 30px;
  height: 18.4vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.5s ease-in-out;
  background: $green;
  cursor: pointer;
  color: $road;
  font-size: 0.5em;
  z-index: 2;

  &:hover {
    background: $yellow;
  }

  @media screen and (min-width: 768px) {
    height: 92vh;
    width: 3.5vw;
    border: 1px solid $road;
    font-size: 1em;
  }
}

#web-area {
  @media screen and (min-width: 768px) {
    right: -62.5vw;

    &.open {
      transform: translateX(-76.5vw);
    }
  }
}

#sp-area {
  @media screen and (min-width: 768px) {
    right: -66vw;

    &.open {
      transform: translateX(-76.5vw);
    }
  }
}

#fcc-area {
  @media screen and (min-width: 768px) {
    right: -69.5vw;

    &.open {
      transform: translateX(-76.5vw);
    }
  }
}

#js30-area {
  @media screen and (min-width: 768px) {
    right: -73vw;

    &.open {
      transform: translateX(-76.5vw);
    }
  }
}

#css-area {
  @media screen and (min-width: 768px) {
    right: -76.5vw;

    &.open {
      transform: translateX(-76.5vw);
    }
  }
}

.hide {
  display: none;

  &.unhide {
    display: flex;
    justify-content: center;
  }
}

.drawer {
  position: absolute;
  top: 0vh;
  left: 29px;
  width: 90vw;
  height: 92vh;
  background: $white;
  transform: translateX(-100%);
  transition: all 0.5s ease-in-out;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;

  &.open {
    transform: none;
    overflow: scroll;
  }

  @media screen and (min-width: 768px) {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    flex-direction: row;
    width: 80vw;
  }
}

#sp {
  @media screen and (min-width: 768px) {
    left: 0px;
  }
}

#fcc {
  @media screen and (min-width: 768px) {
    left: 0px;
  }
}

#js30 {
  @media screen and (min-width: 768px) {
    left: 0px;
  }
}

#css {
  @media screen and (min-width: 768px) {
    left: 0px;
  }
}

.drawer__title {
  color: $road;
  text-align: center;
  margin-top: 5vw;
}

.pens__contain {
  display: flex;
  align-items: center;
  height: 100%;
  overflow-x: scroll;
}

.pens__column {
  padding: 50px;
  height: 100%;
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.pen--lg {
  width: 320px;
  height: 480px;
}

.pen--sm {
  width: 400px;
  height: 400px;
}

.pen__texts {
  width: 500px;
  height: 265px;
  padding: 10px;
  color: #223;
}

.pen__text {
  margin: 25px 0;
}

.pen__title {
  font-weight: bold;
  text-align: center;
}

.title {
  transform: rotate(-90deg);
  width: 23vh;
  height: 30px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;

  @media screen and (min-width: 768px) {
    width: 92vh;
    height: 50px;
  }
}
